# Global snippets

# (c) holds no legal value ;)
snippet c)
	Copyright `&enc[:2] == "utf" ? "©" : "(c)"` `strftime("%Y")` ${1:`g:snips_author`}. All Rights Reserved.${2}
snippet date
	`strftime("%Y-%m-%d")`
snippet date/
	`strftime("%Y/%m/%d")`
snippet ddate
	`strftime("%B %d, %Y")`
snippet time
	`strftime("%Y-%m-%d %H:%M:%S")`
snippet time/
	`strftime("%Y/%m/%d %H:%M:%S")`
snippet week
	`strftime("%A")`
