snippet footer
	%title paroid's wiki-
	<div id="toc">
	<span id="back">[[../index|<Back]]  [http://wiki.paroid.org <<Home]</span>
	%toc 
	</div>

snippet diary
	=`strftime("%Y年%m月%d日")`=
	----
	----

	%title paroid's diary
	<div id="toc">
	<span id="back">[[diary|<Back]]  [http://wiki.paroid.org <<Home]</span>
	%toc 
	</div>
snippet tab
	|   |   |   |   |
	|---+---+---+---|
	|   |   |   |   |
	|   |   |   |   |
