body {font-family: consolas,微软雅黑; margin: 1em 2em 1em 3em; font-size: 100%; line-height: 130%;
background:rgb(199,237,204);
}
h1, h2, h3, h4, h5, h6 {font-family:consolas,微软雅黑; font-weight: bold; line-height:100%; margin-top: 12px; margin-bottom: 8px;}
h1 {font-size: 24px; color: #000000;}
h2 {font-size: 20px; color: #404040;}
h3 {font-size: 18px; color: #707070;}
h4 {font-size: 16px; color: #909090;}
h5 {font-size: 14px; color: #989898;}
h6 {font-size: 12px; color: #9c9c9c;}
p, pre, blockquote, table, ul, ol, dl {margin-top: 1em; margin-bottom: 1em;}
ul ul, ul ol, ol ol, ol ul {margin-top: 0.8em; margin-bottom: 0.8em;}
li {margin: 0.5em auto;}
ul {margin-left: 2em; padding-left: 0.5em;}
dt {font-weight: bold;}
img {border: none;}
pre {border-left: 1px solid #ccc; margin-left: 2em; padding-left: 0.5em;}
blockquote {padding: 0.4em; background-color: #f6f5eb;}
th, td {border: 1px solid #ccc; padding: 0.3em;}
th {background-color: #f0f0f0;}
hr {border: none; border-top: 1px solid #ccc; width: 100%;}
del {text-decoration: line-through; color: #777777;}
.toc li {list-style-type: none;}
.todo {font-weight: bold; background-color: #f0ece8; color: #a03020;}
.justleft {text-align: left;}
.justright {text-align: right;}
.justcenter {text-align: center;}
.center {margin-left: auto; margin-right: auto;}
/* classes for items of todo lists */
.done0:before {content: "\2592\2592\2592\2592"; color: SkyBlue;}
.done1:before {content: "\2588\2592\2592\2592"; color: SkyBlue;}
.done2:before {content: "\2588\2588\2592\2592"; color: SkyBlue;}
.done3:before {content: "\2588\2588\2588\2592"; color: SkyBlue;}
.done4:before {content: "\2588\2588\2588\2588"; color: SkyBlue;}
/* comment the next four or five lines out   *
 * if you do not want color-coded todo lists */
.done0 {color: #c00000;}
.done1 {color: #c08000;}
.done2 {color: #80a000;}
.done3 {color: #00c000;}
.done4 {color: #7f7f7f; text-decoration: line-through;}

#toc a{
    color:#fff;
}
#toc h1{
    color:#fff;
    margin-left:10px;
}
#toc{
    position:fixed;
    right:32px;
    top:62px;
    border:1px solid #fff;
	border-radius:12px;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
	-khtml-border-radius:12px;
	box-shadow:6px 4px 4px black;
    -webkit-box-shadow:6px 4px 4px black;
    -moz-box-shadow:6px 4px 4px black;   
    padding-left:12px;
    padding-right:12px;
    color:#fff;
    background:#000;
    filter:alpha(opacity=12);
    -moz-opacity:0.12;
    -khtml-opacity: 0.12;
    opacity: 0.12;
}
#toc a{
    text-decoration:none;
    border-bottom:1px dashed #fff;
}
#toc a:hover{
    color:#0099ff;
    /*margin-left:-9px;*/
}
/*#toc a:hover:before{
content:">";
}*/
a{
    color:#0099ff;
    text-decoration:none;
}
a:hover{
    border-bottom:1px dashed #333;
}
#toc:hover{
    filter:alpha(opacity=60);
    -moz-opacity:0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
}
#toc ul,#toc li{
    margin-left:0px;
    margin-top: 0.3em; 
    margin-bottom: 0.3em;
}
#toc ul li ul li{
    margin-left:24px;
}
.toc ul{
    margin-top:8px;
}
#back{

}
#copy{
    font-size:18px;
}
span.hi{
    color:#3366ff;
    font-size:17px;
    font-weight:bold;
}
